/* All Page styles*/

a:link {
	color: #941e51;
}

a:visited {
	color: #941e51;
}

a:hover {
  color: black;
}

a:active {
  color: #941e51;
}
.navbar {
	padding-top: 20px
}

.textcolornav {
	color:#941e51;
	font-weight: bold;
}

.textcolornav:hover {
	color: black;
}

h1.navbartitle {
	font-family: 'Grenze Gotisch', cursive, Times, serif;
	font-size: 35px;
	color: #941e51;
}

h1.navbartitle:hover {
	color: black;
}


body {
	background: #77A1D3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* home page */

.introduction {
	text-align: center;          
	top: 50%;     
	bottom: 50%;     
	width: 100%;
	font-family: 'Sansita Swashed', cursive; Times, serif;
	font-size: 25px;
	padding-top: 100px;
}

img.homepageimg{
	width: 100%;
	max-height: 425px;
	max-width: 315px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 20px;
	opacity: .7;
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-top: 50px;
}

div.imgcontainer {
  text-align: center;
  padding: 10px 20px;
}


/*about me page */

p.about {
	text-align: center;          
	padding: 25px;
	font-family: 'Sansita Swashed', cursive; Times, serif;
	font-size: 25px;
}

img.aboutimg1 {
	width: 100%;
	margin: auto;
	}

@media (max-width: 629px) {
	img.aboutimg1 {
		display: none;
	}
	div.imgcontainer {
		display: none;
	}
	div.polaroid {
		display: none;
	}
	}


/* contact me form Styles */

form {
	border: 2px #E684AE;
	border-radius: 8px;
	background-color: #E684AE;
	padding: 25px;
}


/*Skills*/

h3.card-title {
	text-align: center;
	padding-top: 20px;
	font-family: 'Grenze Gotisch', cursive, Times, serif;
	font-size: 40px;
	color: #941e51;
}

.card {
	background-color: transparent;
	text-align: center;
}

h5.title {
	font-family: 'Grenze Gotisch', cursive, Times, serif;
}


.card-body {
	background-color: #E684AE;
	text-align: center;          
	padding: 25px;
	font-family: 'Sansita Swashed', cursive, Times, serif;
	font-size: 25px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

/*Work History*/

.history-set .list-group .list-group-item {
	background-color: #E684AE;
	opacity: .7;
	text-align: center;
	font-family: 'Grenze Gotisch', cursive, Times, serif;
	font-size: 30px;
	color: #5286c7;
}

.list-group-item.active{
	border-color: transparent !important;
}

body.history {
	font-family: 'Sansita Swashed', cursive, Times, serif;
}
