/* All Page styles*/

a:link {
	color: #941e51;
}

a:visited {
	color: #941e51;
}

a:hover {
  color: black;
}

a:active {
  color: #941e51;
}
.navbar {
	padding-top: 20px
}

.textcolornav {
	color:#941e51;
	font-weight: bold;
}

.textcolornav:hover {
	color: black;
}

h1.navbartitle {
	font-family: 'Grenze Gotisch', cursive, Times, serif;
	font-size: 35px;
	color: #941e51;
}

h1.navbartitle:hover {
	color: black;
}


body {
	background: #77A1D3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
	width: 200px;
	height: 200px;
	margin: auto;
}

/* home page */

.introduction {
	text-align: center;          
	top: 50%;     
	bottom: 50%;     
	width: 100%;
	font-family: 'Sansita Swashed', cursive; Times, serif;
	font-size: 20px;
}



/*about me page */

.about {
	text-align: center;          
	padding: 25px;
	font-family: 'Sansita Swashed', cursive; Times, serif;
	font-size: 25px;
}


/* contact me form Styles */

form {
	border: 2px #E684AE;
	border-radius: 8px;
	background-color: #E684AE;
	padding: 25px;
}


/*Skills*/

h3.card-title {
	text-align: center;
	padding-top: 20px;
	font-family: 'Grenze Gotisch', cursive, Times, serif;
	font-size: 40px;
	color: #941e51;
}

.card {
	background-color: transparent;
	text-align: center;
}

h5.title {
	font-family: 'Grenze Gotisch', cursive, Times, serif;
}


.card-body {
	background-color: #E684AE;
	text-align: center;          
	padding: 25px;
	font-family: 'Sansita Swashed', cursive; Times, serif;
	font-size: 25px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

