
a:link {
	color: #E684AE;
}

a:visited {
	color: #E684AE;
}

a:hover {
  color: black;
}

a:active {
  color: #E684AE;
}
.navbar {
	padding-top: 20px
}

.textcolornav {
	color:#941e51;
	font-weight: bold;
}

.textcolornav:hover {
	color: black;
}

h1.navbartitle {
	font-family: 'Grenze Gotisch', cursive, Times, serif;
	font-size: 35px;
	color: #941e51;
}


.introduction {
	text-align: center;          
	top: 50%;     
	bottom: 50%;     
	width: 100%;
	font-family: 'Sansita Swashed', cursive; Times, serif;
	font-size: 20px;
}

.about {
	text-align: center;          
	top: 50%;     
	bottom: 50%;     
	width: 100%;
	font-family: 'Sansita Swashed', cursive; Times, serif;
	font-size: 25px;
}

img {
	width:325px;
	height:455px;
	padding-top: 20px;
	padding-bottom: 50px;
}

body {
	background: #77A1D3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}